%h2= I18n.t('duo_register_title', {:scope => 'devise'})
= enable_duo_form do
  = text_field_tag :country_code, '', :autocomplete => :off, :placeholder => I18n.t('devise.country'), :id => "duo-countries"
  = text_field_tag :cellphone, '', :autocomplete => :off, :placeholder => I18n.t('devise.cellphone'), :id => "duo-cellphone"
  %p= submit_tag I18n.t('enable_duo', {:scope => 'devise'})
